body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

canvas {
    display: block;
    border: 1px solid #000;
    margin: auto; 
    background-image: url("background1.png"); 
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    font-family: 'Arial', sans-serif; /* Set a default font */
}
